@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg-primary: 0 0% 99%;
		--bg-primary-dark: 0 0% 8.5%;

		--text-primary: 0 0% 9%;
		--text-primary-dark: 0 0% 93%;
		--text-secondary: 0 0% 43.5%;
		--text-secondary-dark: 0 0% 62.8%;

		--border-primary: 0 0% 0% / 0.071;
	}
}
