@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--bg-primary: 0 0% 99%;
		--bg-primary-dark: 0 0% 8.5%;

		--text-primary: 0 0% 9%;
		--text-primary-dark: 0 0% 93%;
		--text-secondary: 0 0% 43.5%;
		--text-secondary-dark: 0 0% 62.8%;

		--border-primary: 0 0% 100% / 0.077;

		--colors-gray1: hsl(0 0% 8.5%);
		--colors-gray2: hsl(0 0% 11%);
		--colors-gray3: hsl(0 0% 13.6%);

		--colors-lightGray2: hsl(0 0% 97.3%);
		--colors-lightGray5: hsl(0 0% 90.9%);
	}
}
@layer utilities {
	.blend-lighten {
		mix-blend-mode: lighten;
	}
}

.box {
	background-color: var(--black);
	overscroll-behavior: none;
	-ms-overflow-style: none;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.noise {
	position: relative;
	height: 100vh;
	width: 100vw;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.noise::-webkit-scrollbar {
	display: none;
}

.noise:before {
	z-index: 999;
	position: fixed;
	content: '';
	height: 300%;
	width: 300%;
	top: -100%;
	left: -50%;
	pointer-events: none;
	user-select: none;
	background-image: url('/images/WhiteNoiseDithering.png');
	opacity: 0.029;
	animation: noise 8s steps(10) infinite;
}

@keyframes noise {
	0%,
	100% {
		transform: translate(0, 0);
	}
	10% {
		transform: translate(-5%, -10%);
	}
	20% {
		transform: translate(-15%, 5%);
	}
	30% {
		transform: translate(7%, -25%);
	}
	40% {
		transform: translate(-5%, 25%);
	}
	50% {
		transform: translate(-15%, 10%);
	}
	60% {
		transform: translate(15%, 0%);
	}
	70% {
		transform: translate(0%, 15%);
	}
	80% {
		transform: translate(3%, 35%);
	}
	90% {
		transform: translate(-10%, 10%);
	}
}
